{% extends 'base.html' %}
{% block content %}

    <p>Ты вышел</p>
    <p>Залогинься</p>
    <a href="{% url 'login' %}">Login</a>

{% endblock %}





{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            {% if registered %}
                <h1>Спасибо за регистрацию!</h1>
            {% else %}
                <h1>Зарегистрироваться.</h1>
                <h3>Заполни форму для регистрации.</h3>

                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <input type="submit" name="" value="Register">
                </form>

            {% endif %}
        </div>
    </div>
{% endblock %}











{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Имя логина и пароль не совпадают. Попробуйте еще раз.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td >{{ form.username.label_tag }}</td>
                <td >{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Забыл пароль? Лох</a></p>

{% endblock %}

{{ form.username|attr:"id:inputName"|attr:"class:form-control"|attr:"placeholder:Логин" }}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Залогиньтесь</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Логин" required autofocus>
                <label for="inputName"></label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                <label for="inputPassword"></label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Залогиньтесь</h5>
            <form method="post" action="{% url 'login' %}" class="form-signin" >
              <div class="form-label-group">
                {{ form.username|attr:"id:inputName"|attr:"class:form-control"|attr:"placeholder:Логин"|attr:"autofocus" }}
                <label for="inputName"></label>
              </div>

              <div class="form-label-group">
                {{ form.password|attr:"id:inputPassword"|attr:"class:form-control"|attr:"placeholder:Пароль"|attr:"required" }}
                <label for="inputPassword"></label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>