{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body bg-light text-dark">
              <br>
            <h4 class="card-title text-center">Вы вышли из аккаунта</h4>
              <h6 class="card-title text-center">Войдите для совершения заказа</h6>
              <br>
              <a class="btn btn-lg btn-block text-uppercase bg-secondary text-white" href="{% url 'login' %}">Войти</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}