{% extends 'base.html %}
{% block content %}
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Order
							</div>
							<div class="cell">
								Name
							</div>
							<div class="cell">
                                Money
							</div>
							<div class="cell">
								Comment
							</div>
                            <div class="cell">
								Date
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								{{ form.order }}
							</div>
							<div class="cell" data-title="Age">
								{{ form.name }}
							</div>
							<div class="cell" data-title="Job Title">
								{{ form.sum_paid }}
							</div>
							<div class="cell" data-title="Location">
								{{ form.comment }}
							</div>

						</div>


					</div>
			</div>
		</div>
	</div>





{% endblock %}