{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body bg-light text-dark">
            <h6 class="card-title text-center">Извините, мы не можем принять ваш заказ. Заказы принимаются с 13.00 до 15.00.</h6>
              <h6>Спасибо за понимание.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
