<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>MenuService</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <style>
        body{
            background-image: url('https://jllsly.com/wallpapers/healthy-food-wallpaper-1080p-Is-Cool-Wallpapers.png');
            background-size:cover;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(4,4,12,0.3);">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><i class='fas fa-pizza-slice' style='font-size:22px;color:#dedede'>MenuService</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color:#dedede" href="{% url 'index' %}">Домой<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-sm-2">
                {% if user.is_authenticated %}
                    <div class="username-cl">
                        <li class="nav-link">{{ user.get_username }}</li>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link btn btn-outline-dark" href="{% url 'login' %}">Войти</a></li>
                    <li class="nav-item"><a class="nav-link " href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<section class="probootstrap-cover">
    <div class="container">
        <div class="row probootstrap-vh-100 align-items-center text-center">


            {% block content %}

            {% endblock content %}

        </div>
    </div>
</section>

  </body>
</html>